<!-- delete-user.component.html -->

<div class="container">
  <div class="confirmation-message" *ngIf="!isError; else errorMessage">Are you sure you want to delete this user?</div>
  <div class="user-details" *ngIf="user">
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>First Name:</strong> {{ user.fname }}</p>
    <p><strong>Last Name:</strong> {{ user.lname }}</p>
    <p><strong>Role:</strong> {{ user.role }}</p><br><br>
    <button (click)="deleteUser()" class="btn btn-danger">Delete</button>
    <a routerLink="/all-users" class="back-link">Back</a>
  </div>
  <ng-template #errorMessage>
    <h1>{{ errMsg }}</h1>
  </ng-template>
</div>


