<div class="contact-container">
  <h2>Contact Information</h2>
  <div class="contact-card">
    <div class="contact-details">
      <p><strong>Name:</strong> {{ ownerContact.name }}</p>
      <p><strong>Email: </strong> <a href="mailto:{{ ownerContact.email }}">{{ ownerContact.email }}</a></p>
      <p><strong>FLOW: </strong> <a href="tel:{{ ownerContact.phone }}">{{ ownerContact.phone }}</a></p>
      <p><strong>DIGICEL: </strong> <a href="tel:{{ ownerContact.phone }}">{{ ownerContact.phone2 }}</a></p>
    </div>
  </div>
</div>
