<!-- register-page.component.html -->

<form (ngSubmit)="onRegister(registerForm)" #registerForm="ngForm" class="register-form">
  <p *ngIf="hasError" class="error">{{errMsg}}</p>
  <h2>Register Here</h2><br><br>
  
  <div class="form-group">
    <label for="fname">First Name</label>
    <input type="text" class="form-control" id="fname" name="fname" ngModel required>
  </div>

  <div class="form-group">
    <label for="lname">Last Name</label>
    <input type="text" class="form-control" id="lname" name="lname" ngModel required>
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" ngModel required>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" ngModel required>
  </div>

  <button type="submit" class="btn btn-primary">Register</button>
  <a href="/login" class="cancel-link">Cancel</a>
</form>
